#                                         python tuples
                                   using parentheses () or not

#                                         creating tuples

In [3]:
emp=()
print(type(emp))

<class 'tuple'>

In [7]:
city="abdo",
# note comma ( , )  make variable his type tuble .
c="d"
print(type(c))
print(type(city))

<class 'str'>
<class 'tuple'>

In [8]:
city=("a","b")
type(city)

tuple

In [9]:
print(type(city))

<class 'tuple'>

In [10]:
city

('a', 'b')

In [11]:
city=15,16 # note that 
print(type(city))

<class 'tuple'>

#                             Accesing

In [20]:
city[1]

16

In [19]:
city[0]

15

In [23]:
city[0]-city[1]

-1

In [14]:
city.append("am") # U cannot use append with tuples

AttributeError: 'tuple' object has no attribute 'append'

#                               concatenation

In [15]:
c=(1,2,3,5)
a=("ab","as","cc","vc")
print(c+a) # only arthimitic u can use it with tuples

(1, 2, 3, 5, 'ab', 'as', 'cc', 'vc')

#                                    NESTING
             nesting in tuble mean make in side tuble many tubles

In [17]:
nest=(c,a)
print(nest)

((1, 2, 3, 5), ('ab', 'as', 'cc', 'vc'))

#                                        Repetition

In [28]:
rep=("p")*5
print(rep)

ppppp

In [29]:
rep="c"*5
print(rep)

ccccc

In [30]:
rep=("gg",)
print(rep*3)

('gg', 'gg', 'gg')

In [31]:
print(rep) # print the last value are stored in rep --->> "gg",

('gg',)

#                                            slicing

In [32]:
n=(1,2,3,6,5,88)
n[1::]

(2, 3, 6, 5, 88)

In [33]:
n[1:]

(2, 3, 6, 5, 88)

In [32]:
n[::-1] # ---> flip

(88, 5, 6, 3, 2, 1)

In [38]:
n*3

(1, 2, 3, 6, 5, 88, 1, 2, 3, 6, 5, 88, 1, 2, 3, 6, 5, 88)

# Unpacking

In [43]:
 tuple("simple")

('s', 'i', 'm', 'p', 'l', 'e')

In [36]:
num=(2,5,6,9)
a,b,c,d=num
print(a,b,c,d)

2 5 6 9

In [37]:
*a,b,c=num    # ---->> here make elements (a and b) in side list and other element print them normaly
print(a,b,c)        # i mean make the element and the element after it in side list

[2, 5] 6 9

In [38]:
a,*b,c=num   #----->> # ---->> here make elements (b and c)in side list and other element print them normaly
print(a,b,c)

2 [5, 6] 9

#                                           deleting tuples

In [39]:
t=(1,2,3)
t

(1, 2, 3)

In [40]:
del t

In [42]:
print(t) # after del the tuple not defined and u cannot ----->> print it so you will see error

NameError: name 't' is not defined

#                                       built in function

In [1]:
c=(1,2,3,6,5,5)
c.count(5)

2

In [2]:
sum(c)

22

In [4]:
len(c)

6

In [5]:
max(c)

6

In [6]:
min(c)

1

# Converting list to tuple

In [17]:
lis1=[5,6,"gg"]

In [18]:
b=tuple(lis1)

In [19]:
type(b)

tuple

In [20]:
type(lis1)

list

# Nesting tuples in a list

In [1]:
lst=[(1,2,5),(6,9,4,5)]

In [2]:
print(lst)

[(1, 2, 5), (6, 9, 4, 5)]

In [4]:
lst.append(("dd","ck","ddo"))

In [5]:
print(lst)

[(1, 2, 5), (6, 9, 4, 5), ('dd', 'ck', 'ddo')]

In [6]:
lst.remove((1, 2, 5))

In [7]:
print(lst)

[(6, 9, 4, 5), ('dd', 'ck', 'ddo')]

# Nesting lists within tuple

In [32]:
tp=(['a','b','c'],['c',15,36])

In [33]:
print(tp)

(['a', 'b', 'c'], ['c', 15, 36])

In [34]:
tp[0].append('z')

In [35]:
print(tp)

(['a', 'b', 'c', 'z'], ['c', 15, 36])

In [36]:
tp[0].remove('c')

In [37]:
print(tp)

(['a', 'b', 'z'], ['c', 15, 36])

In [38]:
tp.append(['d',5,6]) # --->> U CAN'T append in tuple

AttributeError: 'tuple' object has no attribute 'append'

#                                        GOOOOOOD LUCK
                    created by Abdulrahman Mohammed  üíï‚ù§Ô∏è