In [1]:
                                           #LISTS 
    #                                  ----> using []

In [125]:
# Creating list

In [213]:
x=[1,36,1,2,5,1,16,22,33]
b=[1,36,1,2,5,"sss"]
y=[12,2,5,33,1,1]
z=['DS','SS','FF']
d=[[1,6,5],["ss","cc","vv"]]
print(d)
print(b)

[[1, 6, 5], ['ss', 'cc', 'vv']]
[1, 36, 1, 2, 5, 'sss']

In [214]:
                                           # Accessing lists

In [216]:
print(x[0]) 
print(y[2])
print(z[2])
print(d[0])
print(d[1])

1
5
FF
[1, 6, 5]
['ss', 'cc', 'vv']

In [129]:
x[:3] #x=[1,36,1,2,5,1,16,22,33]

[1, 36, 1]

In [130]:
y[2:] #y=[12,2,5,33,1,1]

[5, 33, 1, 1]

In [131]:
z[0:2] #z=['DS','SS','FF']

['DS', 'SS']

In [132]:
print(x+y)
print(x+z)
# (+) only arthimitic can U use it .

[1, 36, 1, 2, 5, 1, 16, 22, 33, 12, 2, 5, 33, 1, 1]
[1, 36, 1, 2, 5, 1, 16, 22, 33, 'DS', 'SS', 'FF']

In [133]:
del(x[0]) #--->> delete index 0
# x=[(1),36,1,2,5,1,16,22,33]

In [134]:
print(x)

[36, 1, 2, 5, 1, 16, 22, 33]

In [135]:
print(x[-2]) # print second element from last
print(x[-3]) # print third element from last
# x=[36, 1, 2, 5, 1, 16, 22, 33]

22
16

In [136]:
x[::-1] # flip list from last to first .

[33, 22, 16, 1, 5, 2, 1, 36]

In [137]:
print(x[::2]) #--->skip an element
print(x[::3]) #--->skip 2 elements
print(x[::4]) #---> skip 3 elements
print(x[::-2])#---> skip an element from last
# x=[36, 1, 2, 5, 1, 16, 22, 33]

[36, 2, 1, 22]
[36, 5, 22]
[36, 1]
[33, 16, 5, 1]

In [138]:
                                              # Operating on list

In [139]:
z=[1]*3 # create list all element will be 1 .
print(z)
y=[5]*4 # create list all element will be 5 .
print(y)

[1, 1, 1]
[5, 5, 5, 5]

In [140]:
list("abdo")

['a', 'b', 'd', 'o']

In [152]:
x

[36, 1, 2, 5, 1, 16, 22, 33]

In [158]:
t , *others=x
print(t) # print first element  
print(others)

36
[1, 2, 5, 1, 16, 22, 33]

In [159]:
x

[36, 1, 2, 5, 1, 16, 22, 33]

In [160]:
len(x)

8

In [161]:
print(min(x))
print(max(x))
print(sum(x))
print(sum(x)/len(x))

1
36
116
14.5

In [150]:
                                           # METHODS OF LISTS

In [187]:
f=[55,6,6,1]

In [188]:
z=[1,2,'dd',66]

In [189]:
z.append(44) # -->> add 44 at last
print(z)

[1, 2, 'dd', 66, 44]

In [190]:
f.extend(z) # add list z to f
print(f)

[55, 6, 6, 1, 1, 2, 'dd', 66, 44]

In [191]:
f.insert(0,'abdo')
print(f)

['abdo', 55, 6, 6, 1, 1, 2, 'dd', 66, 44]

In [192]:
f.remove(6)# remove ==== pass the elements not index 
f.remove('dd')

In [193]:
print(f)

['abdo', 55, 6, 1, 1, 2, 66, 44]

In [194]:
del(f[0])

In [195]:
f

[55, 6, 1, 1, 2, 66, 44]

In [196]:
c=['s','v','f']
c.sort() # sort----->>> arrange the elements

In [197]:
print(c)

['f', 's', 'v']

In [198]:
d=[15,36,2]
d.sort()

In [199]:
print(d)

[2, 15, 36]

In [200]:
                                          # GOOOOOOOOD LUCK
                                   # Created by Abdulrahman Mohammed